<%= form_with model: [ @tweet, @tweet.comments.build ] do |form| %>

  <div class="commentBox">
    <div class="commentBox_input">
      <%= form.text_area :body,placeholder: "Reply" %><br>
      <%= form.submit "Reply",class:"comment_button"%>
    </div>
  </div>

<% end %>