<%= form_with model: tweet do |form| %>

<div class="tweetBox">
        <i class="fa-solid fa-user"></i>
        <div class="tweetBox_input">
        <%= form.text_area :body, placeholder: "Whats happenng?" %><br>
        <% tweet.errors.full_messages_for(:body).each do |message| %>
            <div><%= message %></div>
        <% end %>
        <%= form.submit "Tweet", id:"create_tweet",class:"tweet_button"%>
    </div>
</div>

<% end %>