<div class="app">
  <%=render "shared/sidebar"%>

  <div class="feed">
    <div class="feed_header">
      <h2>Home</h2>
    </div>


    <%= render "form", tweet: @tweet %>
    <%=turbo_frame_tag "tweets" do%>
      <%=render @tweets%>
    <%end%>



  </div>
  <div>
  </div>
</div>