<% like_status||= local_assigns[:like_status] %>
<div class="app">
  <%= render "shared/sidebar",current_user: current_user %>
  <div class="feed">
    <div class="feed_header">
      <h2>Home</h2>
    </div>
    <%= render "form", tweet: @tweet %>
    <%= turbo_frame_tag "tweets" do %>
      <% @tweets.each do |tweet| %>
        <%= render "tweets/#{tweet.tweet_type}", tweet:tweet, like_status: current_user.liked?(tweet) %>
      <% end %>
    <% end %>
  </div>
</div>

