/* comments/_form.html.erb */
.comment_button{
    border-radius: 30px;
    color:white;
    padding: 10px 20px;
    background: var(--twitter-color);
    font-size: 15px;
    font-weight:900;
    cursor: pointer;
    border:none;
    width:120px;
    height:40px;
    margin-top:20px;
    margin-left:20px;
}

.commentBox{
    margin-top:10px;
    padding-bottom:10px;
    border-bottom:8px solid var(--twitter-background);
    padding-right:10px;
    align-items:center;
    width: 100%;
}

.commentBox>form{
    display:flex;
    flex-direction:column;
}

.commentBox_input{
    padding:20px;
    display:flex;
    width: 100%;
}

.commentBox_input>textarea{
    flex:1;
    margin-left:20px;
    font-size:20px;
    border:none;
    width:70%;
    height:75px;
}
 