/* _sidebar.html.erb */
.sidebar{
    border-right:1px solid var(--twitter-background);
    flex:0.3;
    margin-top:20px;
    padding-left:20px;
    padding-right:20px;
}

.sidebar_twitterIcon{
    color:var(--twitter-color);
    font-size:30px;
    margin-left:20px;
    margin-right:20px;
}
.sidebarOption{
    display:flex;
    align-items:center;
    cursor:pointer;
}

.sidebarOption:hover{
    background-color:#e8f5fe;
    border-radius:30px;
    color:var(--twitter-color);
    transition: color 100ms ease-out;
}

i{
    padding:20px;
}

.sidebarOption>h2{
    font-weight:800;
    font-size:20px;
    margin-right:20px;
}

.sidebarOption_home,.sidebarOption_profile, .sidebarOption_notification{
    font-weight:800;
    font-size:20px;
    margin-right:20px;
}

.active{
    color:var(--twitter-color)
}

.logout_button{
    border:none;
    color: inherit;
    font-weight:680;
    font-size:20px;
    margin-left:-10px;

}

.tweet-button {
    display: inline-block;
    width: 55px;
    height: 21px;
    background-image: url(http://platform.twitter.com/widgets/images/tweet.dfbf1dd98bad9f5b5addd80494650dca.png);
    background-position: 0 0;
}
.tweet-button:hover {
    background-position: 0 -21px;
}

/* ........................................................................................... */