/* tweet/_form.html.erb */
.tweet_button{
    border-radius: 30px;
    color:white;
    padding: 10px 20px;
    background: var(--twitter-color);
    font-size: 15px;
    font-weight:900;
    cursor: pointer;
    border:none;
    width:100px;
    height:40px;
    margin-top:20px;
    margin-left:20px;
}

.tweetBox{
    padding-bottom:10px;
    border-bottom:8px solid var(--twitter-background);
    padding-right:10px;
    align-items:center;
}

.tweetBox>form{
    display:flex;
    flex-direction:column;
}

.tweeBox_input{
    padding:20px;
    display:flex;
}

.tweetBox_input>textarea{
    flex:1;
    margin-left:20px;
    font-size:20px;
    border:none;
    width:70%;
    height:125px;
}
.tweetbox_profile_image{
    height: 7rem;
    width: 7rem;
    margin-left: 3rem;
    margin-bottom: 2rem;
}